body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea,
button {
  font-size: 16px !important;
}

.ui.relaxed.list > .item {
  display: flex;
  flex-direction: row;
}

.ui.basic.image.label {
  display: contents;
  line-height: 20px;
}

.ui.basic.image.label>.icon {
  margin-left: 4px !important;
  margin-right: 0 !important;
}

.ui.fluid.accordion {
  margin-top: 8px;
}

.ui.primary.button {
  margin-top: 8px;
}
